In [28]:
import io
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn
import scipy.stats

seaborn.set_context('talk')

In [2]:
url = 'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/sysarmy_survey_2020_processed.csv'
df = pd.read_csv(url)

In [3]:
df[['profile_gender', 'salary_monthly_NETO']].groupby('profile_gender').describe()

               salary_monthly_NETO                                     \
                             count          mean            std   min
profile_gender
Hombre                      4944.0  98836.063558  102159.664237   1.0
Mujer                        908.0  73501.414465   56256.880181   2.0
Otros                         31.0  95441.354839   88635.674358  40.0


                    25%      50%       75%        max
profile_gender
Hombre          53285.0  80000.0  110000.0  2080000.0
Mujer           43818.0  65000.0   92000.0   800000.0
Otros           39500.0  74000.0  117500.0   380000.0

In [4]:
df[df.salary_monthly_NETO > 1000]\
  [['profile_gender', 'salary_monthly_NETO']].groupby('profile_gender').describe()

               salary_monthly_NETO                                         \
                             count           mean            std      min
profile_gender
Hombre                      4815.0  101481.624343  102215.304684   1100.0
Mujer                        863.0   77328.913778   55082.760570   2000.0
Otros                         28.0  105660.714286   87235.710235  34000.0


                    25%      50%       75%        max
profile_gender
Hombre          55000.0  80000.0  110000.0  2080000.0
Mujer           47850.0  67200.0   93000.0   800000.0
Otros           43750.0  78900.0  122750.0   380000.0

In [5]:
alpha = 0.05
is_man = df.profile_gender == 'Hombre'

groupA = df[(df.salary_monthly_NETO > 1000) & is_man].salary_monthly_NETO
groupB = df[(df.salary_monthly_NETO > 1000) & ~is_man].salary_monthly_NETO

## Ejercicio 1: Estimación

**Consigna:**  Calcular una estimación puntual y un intervalo de confianza de nivel (1-alpha) para la resta entre la media del salario Neto para Hombres menos la media del salario Neto para otros géneros(diferencia de las medias entre el grupoA y grupoB). 
¿Cómo se relaciona este intervalo de confianza con el test de hipótesis?

In [32]:
mu, std = scipy.stats.norm.fit(groupA)
mean = groupA.mean()
var = groupA.var()
mu, std, mean, var

(101481.62434267912, 102204.6898752727, 101481.62434267912, 10447968511.734674)

In [33]:
mu, std = scipy.stats.norm.fit(groupB)
mean = groupA.mean()
var = groupA.var()
mu, std, mean, var

(78219.25094276095, 56483.60387035645, 101481.62434267912, 10447968511.734674)