In [2]:
import matplotlib.pyplot as plt
import numpy
import pandas

import seaborn
seaborn.set_context('talk')

import sklearn
from sklearn.preprocessing import OneHotEncoder

In [3]:
sklearn.__version__

'0.24.2'

## Ejercicio 1: Encoding

1. Seleccionar todas las filas y columnas del conjunto de datos obtenido en la parte 1 del entregable, **excepto** `BuildingArea` y `YearBuilt`, que volveremos a imputar más adelante.

2. Aplicar una codificación One-hot encoding a cada fila, tanto para variables numéricas como categóricas. Si lo consideran necesario, pueden volver a reducir el número de categorías únicas.

Algunas opciones:
  1. Utilizar `OneHotEncoder` junto con el parámetro `categories` para las variables categóricas y luego usar `numpy.hstack` para concatenar el resultado con las variables numéricas. 
  2. `DictVectorizer` con algunos pasos de pre-proceso previo.

Recordar también que el atributo `pandas.DataFrame.values` permite acceder a la matriz de numpy subyacente a un DataFrame.

In [4]:
df=pandas.read_csv("Dataframe_melb_B.csv")
df

,Unnamed: 0,Rooms,Price,Bathroom,Car,Landsize,airbnb_record_count,airbnb_price_day_mean,CouncilArea_Banyule,CouncilArea_Bayside,...,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Type_h,Type_t,Type_u,Distance_1.0,Distance_2.0,Distance_3.0,Distance_nan
0,0,0.333333,0.152103,0.20,0.333333,0.032988,0.076352,0.126027,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,0.666667,0.110858,0.28,0.333333,0.143827,0.043672,0.115069,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,0.666667,0.110858,0.28,0.333333,0.143827,0.043672,0.115069,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,0.666667,0.110858,0.28,0.333333,0.143827,0.043672,0.115069,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4,0.666667,0.110858,0.28,0.333333,0.143827,0.043672,0.115069,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12557,12557,1.000000,0.125606,0.40,0.666667,0.457116,0.055853,0.116852,0.0,0.2,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
12558,12558,0.666667,0.101477,0.40,0.666667,0.156456,0.021687,0.210121,0.0,0.0,...,0.0,0.2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
12559,12559,0.666667,0.117150,0.40,1.000000,0.253534,0.021687,0.210121,0.2,0.0,...,0.0,0.2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
12560,12560,1.000000,0.267110,0.20,1.000000,0.658812,0.021687,0.210121,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
12561,12561,1.000000,0.130116,0.20,0.333333,0.183789,0.024064,0.132961,0.2,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

Hay que realizar el one hot encoding solo para las variables numericas ya que las variables categoricas ya fueron realizada dicha transformacion en el entregable 1

Realizamos el one hot a las variables discretas: Rooms, Bathroom y Car. Las otras se consideran que son variables numéricas continúas y se añadirían demasiadas columnas al dataframe sin aportar valor significante.

In [5]:
df.describe()

,Unnamed: 0,Rooms,Price,Bathroom,Car,Landsize,airbnb_record_count,airbnb_price_day_mean,CouncilArea_Banyule,CouncilArea_Bayside,...,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Type_h,Type_t,Type_u,Distance_1.0,Distance_2.0,Distance_3.0,Distance_nan
count,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,...,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000,12562.000000
mean,6280.500000,0.688616,0.116540,0.306652,0.547906,0.331146,0.033401,0.121101,0.054275,0.045263,...,0.012976,0.027734,0.001640,0.624423,0.049753,0.061535,0.114631,0.165181,0.455899,0.264289
std,3626.481375,0.207622,0.061203,0.113037,0.234567,0.185882,0.041558,0.088195,0.201719,0.181876,...,0.101390,0.145242,0.036665,0.484291,0.217443,0.240318,0.318589,0.371358,0.498071,0.440971
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3140.250000,0.666667,0.075149,0.200000,0.333333,0.185674,0.012181,0.075381,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6280.500000,0.666667,0.104781,0.280000,0.666667,0.349670,0.020796,0.101910,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9420.750000,0.800000,0.145608,0.400000,0.666667,0.452969,0.040404,0.133272,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,12561.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Solo agregamos 14 columnas para que la matriz no sea muy extensa.

In [6]:
cols_1 = ['Landsize','Rooms','Bathroom', 'Car']
cols_2 = ['Rooms','Bathroom', 'Car']
cols_3 = ['Rooms','Bathroom', 'Car','airbnb_record_count']
cols_selected = cols_2
df[cols_selected].nunique().sum()

58

## One Hot Encoder
Realizamos el one hot encoder a las variables numericas

Agregamos los nombres de las columnas correspondientes

Transformación a data frame del array del one hot encoder

In [7]:
encoder = OneHotEncoder(sparse=False)
one_hot_array=encoder.fit_transform(df[cols_selected])
print(one_hot_array.shape)
col_names=encoder.get_feature_names(cols_selected)

(12562, 58)

In [8]:
one_hot_df=pandas.DataFrame(one_hot_array,columns=col_names)
one_hot_df

,Rooms_0.0,Rooms_0.3333333333333333,Rooms_0.3999999999999999,Rooms_0.4,Rooms_0.4666666666666666,Rooms_0.4666666666666667,Rooms_0.5333333333333333,Rooms_0.5333333333333334,Rooms_0.6,Rooms_0.6000000000000001,...,Car_0.5999999999999999,Car_0.6,Car_0.6666666666666666,Car_0.6666666666666667,Car_0.7333333333333332,Car_0.7333333333333333,Car_0.7999999999999999,Car_0.8,Car_0.8666666666666666,Car_1.0
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12557,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12558,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12559,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12560,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12561,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Eliminamos las variables originales para obtener solo un df con variables encodeadas

In [9]:
df_unique = pandas.concat([df,one_hot_df],axis=1)
df_unique=df_unique.drop(["Rooms"],axis=1)
df_unique=df_unique.drop(["Bathroom"],axis=1)
df_unique=df_unique.drop(["Car"],axis=1)

df_unique

,Unnamed: 0,Price,Landsize,airbnb_record_count,airbnb_price_day_mean,CouncilArea_Banyule,CouncilArea_Bayside,CouncilArea_Boroondara,CouncilArea_Brimbank,CouncilArea_Cardinia,...,Car_0.5999999999999999,Car_0.6,Car_0.6666666666666666,Car_0.6666666666666667,Car_0.7333333333333332,Car_0.7333333333333333,Car_0.7999999999999999,Car_0.8,Car_0.8666666666666666,Car_1.0
0,0,0.152103,0.032988,0.076352,0.126027,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.110858,0.143827,0.043672,0.115069,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.110858,0.143827,0.043672,0.115069,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.110858,0.143827,0.043672,0.115069,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.110858,0.143827,0.043672,0.115069,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12557,12557,0.125606,0.457116,0.055853,0.116852,0.0,0.2,0.0,0.2,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12558,12558,0.101477,0.156456,0.021687,0.210121,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12559,12559,0.117150,0.253534,0.021687,0.210121,0.2,0.0,0.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12560,12560,0.267110,0.658812,0.021687,0.210121,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12561,12561,0.130116,0.183789,0.024064,0.132961,0.2,0.0,0.2,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Ejercicio 2: Imputación por KNN

En el teórico se presentó el método `IterativeImputer` para imputar valores faltantes en variables numéricas. Sin embargo, los ejemplos presentados sólo utilizaban algunas variables numéricas presentes en el conjunto de datos. En este ejercicio, utilizaremos la matriz de datos codificada para imputar datos faltantes de manera más precisa.

1. Agregue a la matriz obtenida en el punto anterior las columnas `YearBuilt` y `BuildingArea`.
2. Aplique una instancia de `IterativeImputer` con un estimador `KNeighborsRegressor` para imputar los valores de las variables. ¿Es necesario estandarizar o escalar los datos previamente?
3. Realice un gráfico mostrando la distribución de cada variable antes de ser imputada, y con ambos métodos de imputación.

In [11]:
#se vuelve a agregar las variables YearBuilt y BuildingArea al df realizado
melb_df = pandas.read_csv(
    'https://cs.famaf.unc.edu.ar/~mteruel/datasets/diplodatos/melb_data.csv')
melb=melb_df[['YearBuilt', 'BuildingArea','Postcode']]
melb

       YearBuilt  BuildingArea  Postcode
0            NaN           NaN    3067.0
1         1900.0          79.0    3067.0
2         1900.0         150.0    3067.0
3            NaN           NaN    3067.0
4         2014.0         142.0    3067.0
...          ...           ...       ...
13575     1981.0           NaN    3150.0
13576     1995.0         133.0    3016.0
13577     1997.0           NaN    3016.0
13578     1920.0         157.0    3016.0
13579     1920.0         112.0    3013.0

[13580 rows x 3 columns]

In [ ]:
df_unique

In [ ]:
merged_unique_df = df_unique.merge(
    melb,left_index=True,right_index=True
)
merged_unique_df
#unifico solo la cantidad de datos que tiene el df_unique

In [ ]:
merged_unique_df.isna().any().tail(10)
#solo hay valores nulos en las dos variables agregadas

In [ ]:
# Scalling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
merged_unique_df = pandas.DataFrame(scaler.fit_transform(merged_unique_df),columns=merged_unique_df.columns)
merged_unique_df

In [ ]:
# Inputing 
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
merged_unique_df_imputer = pandas.DataFrame(imputer.fit_transform(merged_unique_df),columns = merged_unique_df.columns)
merged_unique_df_imputer

In [ ]:
merged_unique_df_imputer.isna().any().tail(10)
#se observa que se realizo la imputacion

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import IterativeImputer

melb_data_mice = merged_unique_df.copy(deep=True)

mice_imputer = IterativeImputer(random_state=0, estimator=KNeighborsRegressor())
melb_data_mice[['YearBuilt','BuildingArea']] = mice_imputer.fit_transform(
    melb_data_mice[['YearBuilt', 'BuildingArea']])

In [ ]:
# Alternativa con KN Regressor

"""from sklearn.experimental import enable_iterative_imputer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import IterativeImputer

melb_data_mice = merged_unique_df.copy(deep=True)

mice_imputer = IterativeImputer(random_state=0, estimator=KNeighborsRegressor())
melb_data_mice = mice_imputer.fit_transform(
    melb_data_mice)"""

# no se ejecuta esta celda por su elevado tiempo de ejecucion ya que se usa el KNN Imputer, se muestra como se podria realizar

In [ ]:
#Se comparan las distribuciones de las variables con distintas tecnicas de imputacion vs la original.
merged_unique_df_imputer_copy = merged_unique_df_imputer.BuildingArea.to_frame()

merged_unique_df_imputer_copy['Imputation'] = 'KNN using all variables'

mice_year_built = melb_data_mice.BuildingArea.to_frame()
mice_year_built['Imputation'] = 'KNN over YearBuilt and BuildingArea'
melb_year_build = merged_unique_df.BuildingArea.dropna().to_frame()
melb_year_build['Imputation'] = 'Original'
data = pandas.concat([mice_year_built, melb_year_build])
data = pandas.concat([data,merged_unique_df_imputer_copy])

fig, axes = plt.subplots(1, 2, figsize=(15, 10))


g = seaborn.kdeplot(ax=axes[0],data=data, x='BuildingArea', hue='Imputation')


g1 = seaborn.kdeplot(ax=axes[1],data=data, x='BuildingArea', hue='Imputation')
g1.set_title('zoom')
g1.set_xlim([0,0.1])

plt.show()

In [ ]:
merged_unique_df_imputer_copy = merged_unique_df_imputer.YearBuilt.to_frame()

merged_unique_df_imputer_copy['Imputation'] = 'KNN using all variables'

mice_year_built = melb_data_mice.YearBuilt.to_frame()
mice_year_built['Imputation'] = 'KNN over YearBuilt and BuildingArea'
melb_year_build = merged_unique_df.YearBuilt.dropna().to_frame()
melb_year_build['Imputation'] = 'Original'
data = pandas.concat([mice_year_built, melb_year_build])
data = pandas.concat([data,merged_unique_df_imputer_copy])

fig, axes = plt.subplots(1, 2, figsize=(15, 10))


g = seaborn.kdeplot(ax=axes[0], data=data, x='YearBuilt', hue='Imputation')


g2 = seaborn.kdeplot(ax=axes[1],data=data, x='YearBuilt', hue='Imputation')
g2.set_title('zoom')
g2.set_xlim([0.8,1.1])

En estos graficos se puede observar que las distribuciones de las variables YearBuilt y BuildingArea imputadas utilizando todas las variables tienen dispersion mas uniforme comparado con la imputacion con una sola variable. Podemos concluir que se observa una menor variacion de sus imputaciones en el caso de utilizar una sola variable. A su vez vemos que en ambos casos se mantiene su distribucion.

## Ejercicio 3: Reducción de dimensionalidad.

Utilizando la matriz obtenida en el ejercicio anterior:
1. Aplique `PCA` para obtener $n$ componentes principales de la matriz, donde `n = min(20, X.shape[0])`. ¿Es necesario estandarizar o escalar los datos?
2. Grafique la varianza capturada por los primeros $n$ componentes principales, para cada $n$.
3. En base al gráfico, seleccione las primeras $m$ columnas de la matriz transformada para agregar como nuevas características al conjunto de datos.

In [ ]:
feature_cols = merged_unique_df_imputer.columns.values
feature_dict = list(merged_unique_df_imputer[feature_cols].T.to_dict().values())
feature_dict[:2]
#se crea el diccionario para utilizar en el DictVectorizer la matriz anterior con los datos ya escalados.

In [ ]:
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer()
feature_matrix = vec.fit_transform(feature_dict)
#Se crea la matriz esparsa

In [ ]:
feature_matrix

In [ ]:
#evaluo la dimension final de la matriz para no generar un conflicto en la memoria
matrix_size_mb = feature_matrix.shape[0] * feature_matrix.shape[1] * 4 / 1024 / 1024
print("The dense matrix will weight approximately {:.2f} MB".format(matrix_size_mb))

limit_size_mb = 10
precision_type = numpy.float32
if matrix_size_mb < limit_size_mb:  # Matrix is less than 10MB
  dense_feature_matrix = feature_matrix.astype(precision_type).todense()
else:
  # We calculate how many rows would fit given the number of columns
  n_rows = int(limit_size_mb *1024 * 1024 / 4 / feature_matrix.shape[1])
  print("Matrix too big! Using only first {} of {} rows".format(
      n_rows, feature_matrix.shape[0]))
  dense_feature_matrix = feature_matrix[:n_rows].astype(precision_type).todense()

print("Final size: {:.2f}".format(dense_feature_matrix.nbytes / 1024 / 1024))

In [ ]:
if dense_feature_matrix.shape[0] < len(merged_unique_df_imputer):
  melb_df_sample = merged_unique_df_imputer.iloc[:dense_feature_matrix.shape[0]]
else:
  melb_df_sample = merged_unique_df_imputer
#se achica la matriz si se mayor a 10 Mb y si no se mantiene igual.

In [ ]:
melb_df_sample
#vemos como utiliza solo 3788 filas de la matriz

In [ ]:
scaled_dense_feature_matrix = dense_feature_matrix
#paso la matriz a densa

In [ ]:
#se aplica algoritmo de analisis de componentes principales
from sklearn.decomposition import PCA
pca = PCA(n_components=30)
pca.fit(scaled_dense_feature_matrix)
proyected_features = pca.transform(scaled_dense_feature_matrix)
proyected_features.shape

In [ ]:
pca.explained_variance_ratio_
#se busca reducir la dimensionalidad observando las componentes con mayor varianza

In [ ]:
seaborn.lineplot(x=range(pca.n_components),
                 y=pca.explained_variance_ratio_)
plt.ylabel("Ratio of variance explained")
plt.xlabel("Components")
#observamos que luego de la quinta componente la descripcion de la varianza es poco descriptiva (cercana a 0).

Graficamos la varianza acumulada.

Se toma un criterio una varianza acumulada igual a 90%

In [ ]:
pca.explained_variance_ratio_[0:22].sum()

In [ ]:
aux = []
for i in range(30):
    aux.append(pca.explained_variance_ratio_[0:i].sum())
    
fig, ax = plt.subplots(1)
seaborn.lineplot(x=range(pca.n_components),y=aux, ax=ax)
ax.axvline(22, color='orangered', linestyle='--')
ax.axhline(0.9, color='orangered', linestyle='--')

plt.ylabel("Ratio of variance explained")
plt.xlabel("Components")
fig.show()

In [ ]:
#se grafican las proyecciones de las 12 componentes principales para observar la disminucion de la varianza.
#se realiza superponiendo una componente vs el valor de la sexta componente siguiente.
fig, axes = plt.subplots(6, figsize=(20, 20),sharex=True)
fig.suptitle('varianzas pca')
color1='red'
color2='blue'

seaborn.histplot(ax=axes[0], x=proyected_features[:,0], color=color1, label='Pca_1')
seaborn.histplot(ax=axes[1], x=proyected_features[:,1], color=color2,label='Pca_2')
seaborn.histplot(ax=axes[2], x=proyected_features[:,2], color=color1, label='Pca_3')
seaborn.histplot(ax=axes[3], x=proyected_features[:,3], color=color2, label='Pca_4')
seaborn.histplot(ax=axes[4], x=proyected_features[:,4], color=color1, label='Pca_5')
seaborn.histplot(ax=axes[5], x=proyected_features[:,5], color=color2, label='Pca_6')

seaborn.histplot(ax=axes[0], x=proyected_features[:,6], color=color2, label='Pca_7')
seaborn.histplot(ax=axes[1], x=proyected_features[:,7], color=color1, label='Pca_8')
seaborn.histplot(ax=axes[2], x=proyected_features[:,8], color=color2, label='Pca_9')
seaborn.histplot(ax=axes[3], x=proyected_features[:,9], color=color1, label='Pca_10')
seaborn.histplot(ax=axes[4], x=proyected_features[:,10], color=color2, label='Pca_11')
seaborn.histplot(ax=axes[5], x=proyected_features[:,11], color=color1, label='Pca_12')

axes[0].legend()
axes[1].legend()
axes[2].legend()
axes[3].legend()
axes[4].legend()
axes[5].legend()

Se puede observar como las varianzas disminuyen a medida que aumentan las Pca.
Decidimos obtener solo las 5 primeras componentes principales debido a que creemos que aportan la mayor informacion de la varianza.

In [ ]:
pcas = []
for i in range(1,23):
    pcas.append("Pca_" + str(i))
melb_df_sample[pcas] = proyected_features[:,:22]

In [ ]:
seaborn.scatterplot(data=melb_df_sample, x='Pca_1', y='Pca_2')

Se realizan gráficos entre componentes, no se pueden

In [ ]:
seaborn.pairplot(data=melb_df_sample,
                x_vars=['Pca_1', 'Pca_2','Pca_3', 'Pca_4','Pca_5'],
                y_vars=['Pca_1', 'Pca_2','Pca_3', 'Pca_4','Pca_5'])
#se realizan graficos entre las componentes

## Ejercicio 4: Composición del resultado

Transformar nuevamente el conjunto de datos procesado en un `pandas.DataFrame` y guardarlo en un archivo.

Para eso, será necesario recordar el nombre original de cada columna de la matriz, en el orden correcto. Tener en cuenta:
1. El método `OneHotEncoder.get_feature_names` o el atributo `OneHotEncoder.categories_` permiten obtener una lista con los valores de la categoría que le corresponde a cada índice de la matriz.
2. Ninguno de los métodos aplicados intercambia de lugar las columnas o las filas de la matriz.

Ya esta dispuesto con los nombres originales de la matriz.

In [ ]:
melb_df_sample.to_csv('Dataframe_melb_pca_B.csv',index=False)

In [ ]:
new_df=pandas.read_csv("Dataframe_melb_pca_B.csv")
new_df

# Ejercicio 5: Documentación

La documentación se encuentra en el archivo DOCUMENTATION.md